       @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        @font-face {
       font-family: 'minions';
       src: url(fonts/minions.ttf) format('truetype');
    }

    body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'minions';
    }
  

    .menuSticky{
            overflow: hidden;
            top: 0;
            position: sticky;
            height: 200px;
            margin-top: -140px;
            margin-bottom: -10px;
            margin-left: -10px;
            margin-right: -10px;
            line-height: 25px;
        }

        ul {
            list-style-type: none;
            overflow: hidden;
            background-color: #EAC119;
            margin: 0;
            box-shadow: -6px 9px 35px -8px rgba(0,0,0,0.67);
        }

        .ficha{
            list-style-type: none;
            overflow: hidden;
            background-color: #ffffff;
            margin: 0;
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.67);
        }
 
        li {
            float: left;
        }
 
        .opcion {
            display: inline-block;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
 
        .dropbtn {
            display: inline-block;
            color: #000000;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
 
        .dropdown {
            display: none;
        }
 
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f3fc8e;
            width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
 
        .dropdown:hover .dropdown-content {
            display: block;
        }

        #lupa img{
            width: 20px;
            height: auto;
            margin-left: 1110px;
            margin-top: 15px;
        }

        #marca img{
            display: none;
            width: 100px;
            height: auto;
        }

/*
    .material-symbols-outlined {
         font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
    }


#navbar {
            padding: 20px;
            padding-bottom: 2px;
            position: sticky;
            top: 0;
            overflow: hidden;
            background-color: #EAC119;
            text-align: justify;
            margin-top: -10px;
            margin-bottom: -10px;
            margin-left: -10px;
            margin-right: -10px;
            box-shadow: -6px 9px 35px -8px rgba(0,0,0,0.67);
        }
*/
        .icono {
          text-align: right;
        }

.producto{
    width: 90%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto{
    width: 40%;
}

.texto h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.texto h2{
    font-size: 35px;
    margin-bottom: 25px;
}

.texto p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.texto h3{
    margin-bottom: 10px;
}

.texto ul{
    padding-left: 20px;
}

.texto ul li{
    margin-bottom: 10px;
    font-family: "Comfortaa", sans-serif;
}

p{
            text-align: left;
            font-family: "Comfortaa", sans-serif;
            width: auto;
            padding: 10px;
        }

a{
            color: #000000;
            padding: 14px;
            font-size: 17px;
            font-family: 'minions';
            font-style: bold;
            text-decoration: none;
        }


.imagen{
    width: 50%;
}

.imagen img{
    width: 100%;
    box-shadow: -6px 9px 35px -8px rgba(0,0,0,0.67);
}

        footer{
            padding: 20px;
            background-color: #EAC119;
            margin-top: -2px;
            margin-bottom: -10px;
            margin-left: -10px;
            margin-right: -10px;
    
        }
    

        .footer{
            text-align: center;
            font-family: "Comfortaa", sans-serif;
            width: auto;
        }

        .contenedor {
          display: flex;
          gap: 30px; 
        }

        .columna {
          flex: 1;
          padding-right: 60px;
          padding-left: 60px;
          text-align: center;}

        h4{
            color: #000000;
            text-align: center;
            font-family: 'minions';
            font-style: bold;
            font-size: 20px;
        }

        .insta{
            text-align: center;
            font-family: "Comfortaa", sans-serif;
            width: auto;
            padding: 10px;
            font-size: 100%;
        }